<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.lsmya.apkupdate">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>
        <provider
            android:name="cn.lsmya.apkupdate.VersionFileProvider"
            android:authorities="cn.lsmya.apkupdate.apkupdate"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_cn_lsmya_update" />
        </provider>
    </application>
</manifest>
